@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendido al sistema de Joel</h1>
    <p class="lead">Este es un sistema de prueba para el curso de TDD</p>
    <p>Para comenzar, selecciona una opción del menú</p>
    <h2>¿Qué es TDD?</h2>
    <p>Test-Driven Development (TDD) es una técnica de desarrollo de software que se basa en un ciclo corto de desarrollo. El ciclo comienza con la escritura de una prueba que falla porque la funcionalidad aún no existe. Luego, se escribe el código necesario para que la prueba pase. Finalmente, se refactoriza el código para mejorar su calidad.</p>
</div>
